 <div class="product-full__code flex-box flex-box--ai--center flex-box--jc--center">
    <div class="product-full__code__text"><p>Buy 1 Get Any Other <strong>FREE</strong><br></p></div>
    <div class="product-full__code__button flex-box--inline flex-box--ai--center flex-box--jc--center copy-to-clipboard gld-btn--white gld-btn--small" data-text="Copied to clipboard: #value#" data-value="BOGO">No Code Needed
     
    </div>
  </div>