<style>
  .timer-countdown {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
}
  .timer-countdown p:first-child, .get-date p:first-child {
    font-weight: normal;
}
  .get-date p, .timer-countdown p {
    margin: 0;
    font-size: 12px;
}

  /* .delivery-date-and-time:after {
    background: linear-gradient(-90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,.33) 50%,rgba(255,255,255,0) 100%);
    content: "";
    height: 130px;
    position: absolute;
    opacity: .6;
    top: -50px;
    transform: rotate(30deg);
    width: 63px;
    z-index: -10;
    transition: all .35s cubic-bezier(.19,1,.22,1);
    animation: gradient 5s ease infinite;
} */
  .delivery-date-and-time {
    /* background-color:rgba(255, 211, 117, 0.32); */
    /* background-color:#FFE9BA; */
    background-color:#1C242F;
     /* background-image: linear-gradient(to right, #FFE09E, #FFE9BA, #FFEDC8, #FFE09E); */
    /* background-image: linear-gradient(to right, #d9d9d9 0%, #FFE09E 51%, #d9d9d9 100%); */
    /* box-shadow: 0 4px 15px 0 rgba(255, 211, 117, 0.75);
    margin-bottom: 20px; */
    padding: 10px 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* color:#ffffff; */
    color:#ffffff;
    border-radius:10.3px;
    position:relative;
    overflow:hidden;
}
  /* .delivery-date-and-time:hover{
    background-position: right center;
  } */
  @keyframes gradient {
	0% {
		left: 0%;
	}

	50% {
		left: 100%;
	}
    100% {
		left: 0%;
	}
}

  .get-date {
    display: flex;
    flex-wrap: wrap;
    
}
  .timer-countdown {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
}
  .custom-icon-list {
    padding: 1.2rem 1.2rem 0.5rem;
    background-color: #f5f5f5;
    margin-top: 20px;
}
  .custom-icon-list li {
    display: flex;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
    -webkit-box-align: center;
    align-items: center;
}
  .custom-icon-list img {
    flex: 0 0 auto;
    width: 1.2rem;
}
  .custom-icon-list p {
    padding-left: 1rem;
    font-weight: bold;
    font-family: Roboto, Arial, sans-serif;
    color: #000;
    margin: 0px;
}
   .payment-icons {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin-top: 20px;
    margin-right: -5px;
    margin-left: -5px;
     flex-wrap: wrap;
      justify-content: center;
}
  .payment-with-trustpilot .payment-icons {
    margin-left: 0px;
    align-items: center;
    justify-content: center;
}
  .payment-icons-item {
    font-size: .9375rem;
    display: flex;
/*     margin-right: 10px;
    margin-bottom: 10px; */
    margin-left: 10px;
    width: 28px;
   
}
  .payment-with-trustpilot .payment-icons {
    margin-left: 7px;
    margin-top: 10px;
    flex-wrap: wrap;
}
   @media screen and (min-width: 1008px){
     .payment-with-trustpilot .payment-icons {
    margin-left: 0px;
    align-items: center;
    justify-content: center;
}
  }
  .payment-with-trustpilot .payment-icons {
    width: 100% !important;
    padding: 0 !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    flex-wrap: wrap;
}
.payment-icons-item {
    margin-right: 3px;
    margin-left: 3px;
}
  .payment-icons-item {
    margin-bottom: 0;
}
  .timer-countdown p, .get-date p {
    font-weight: bold;
    padding: 0 2px;
}
  
 .product-full__code.flex-box.flex-box--ai--center.flex-box--jc--center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center; 
    ackground: #eee;
    padding: 8px 5px;
}
  .gld-btn--white {
    background-color: #fff;
    color: #161616;
    border: 2px solid #161616;
    color: #161616!important; 
    padding-top:5px;
    padding-bottom:5px;
    padding: 0 17px;
    border-radius: 24px;
}
 @media (max-width: 767px){
   .payment-icons-item {
    margin-right: 2px;
    margin-left: 2px;
}
    .gld-btn--white { 
       font-size: 11px;
}
 }

  </style>
 
<div class="delivery-date-and-time">
              <div class="timer-countdown">
                <p>Order by: </p>
                <p id="days"></p>
                <p id="hours">00 : </p>
                <p id="mins">00: </p>
                <p id="secs">00 </p>
                <h2 id="end"></h2>
              </div>
              <div class="get-date">
                <p> Get by: </p>
                
                
                <p class="next-7to11days-fortimer" style="display: none;">May 14, 23</p>
                <p class="next-7to11days"> {% assign seconds1 = 7 | times: 24 | times: 60 | times: 60 %}
                  {{ 'now' | date: "%s" | plus: seconds1 | date: "%b %d" }} -</p> 
                
                <p class="next-8to12days">
                {% assign seconds2 = 8 | times: 24 | times: 60 | times: 60 %}
                  {{ 'now' | date: "%s" | plus: seconds2 | date: "%b %d" }}</p>
              </div>
            </div>

<ul class="payment-icons">
  <li class="payment-icons-item"><svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-paypal"><title id="pi-paypal">PayPal</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path fill="#003087" d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z"></path><path fill="#3086C8" d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z"></path><path fill="#012169" d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z"></path></svg></li>
  <li class="payment-icons-item">
              <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-american_express"><title id="pi-american_express">American Express</title><g fill="none"><path fill="#000" d="M35,0 L3,0 C1.3,0 0,1.3 0,3 L0,21 C0,22.7 1.4,24 3,24 L35,24 C36.7,24 38,22.7 38,21 L38,3 C38,1.3 36.6,0 35,0 Z" opacity=".07"></path><path fill="#006FCF" d="M35,1 C36.1,1 37,1.9 37,3 L37,21 C37,22.1 36.1,23 35,23 L3,23 C1.9,23 1,22.1 1,21 L1,3 C1,1.9 1.9,1 3,1 L35,1"></path><path fill="#FFF" d="M8.971,10.268 L9.745,12.144 L8.203,12.144 L8.971,10.268 Z M25.046,10.346 L22.069,10.346 L22.069,11.173 L24.998,11.173 L24.998,12.412 L22.075,12.412 L22.075,13.334 L25.052,13.334 L25.052,14.073 L27.129,11.828 L25.052,9.488 L25.046,10.346 L25.046,10.346 Z M10.983,8.006 L14.978,8.006 L15.865,9.941 L16.687,8 L27.057,8 L28.135,9.19 L29.25,8 L34.013,8 L30.494,11.852 L33.977,15.68 L29.143,15.68 L28.065,14.49 L26.94,15.68 L10.03,15.68 L9.536,14.49 L8.406,14.49 L7.911,15.68 L4,15.68 L7.286,8 L10.716,8 L10.983,8.006 Z M19.646,9.084 L17.407,9.084 L15.907,12.62 L14.282,9.084 L12.06,9.084 L12.06,13.894 L10,9.084 L8.007,9.084 L5.625,14.596 L7.18,14.596 L7.674,13.406 L10.27,13.406 L10.764,14.596 L13.484,14.596 L13.484,10.661 L15.235,14.602 L16.425,14.602 L18.165,10.673 L18.165,14.603 L19.623,14.603 L19.647,9.083 L19.646,9.084 Z M28.986,11.852 L31.517,9.084 L29.695,9.084 L28.094,10.81 L26.546,9.084 L20.652,9.084 L20.652,14.602 L26.462,14.602 L28.076,12.864 L29.624,14.602 L31.499,14.602 L28.987,11.852 L28.986,11.852 Z"></path></g></svg>
</li>
  <li class="payment-icons-item">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" role="img" x="0" y="0" width="38" height="24" viewBox="0 0 165.521 105.965" xml:space="preserve" aria-labelledby="pi-apple_pay"><title id="pi-apple_pay">Apple Pay</title><path fill="#000" d="M150.698 0H14.823c-.566 0-1.133 0-1.698.003-.477.004-.953.009-1.43.022-1.039.028-2.087.09-3.113.274a10.51 10.51 0 0 0-2.958.975 9.932 9.932 0 0 0-4.35 4.35 10.463 10.463 0 0 0-.975 2.96C.113 9.611.052 10.658.024 11.696a70.22 70.22 0 0 0-.022 1.43C0 13.69 0 14.256 0 14.823v76.318c0 .567 0 1.132.002 1.699.003.476.009.953.022 1.43.028 1.036.09 2.084.275 3.11a10.46 10.46 0 0 0 .974 2.96 9.897 9.897 0 0 0 1.83 2.52 9.874 9.874 0 0 0 2.52 1.83c.947.483 1.917.79 2.96.977 1.025.183 2.073.245 3.112.273.477.011.953.017 1.43.02.565.004 1.132.004 1.698.004h135.875c.565 0 1.132 0 1.697-.004.476-.002.952-.009 1.431-.02 1.037-.028 2.085-.09 3.113-.273a10.478 10.478 0 0 0 2.958-.977 9.955 9.955 0 0 0 4.35-4.35c.483-.947.789-1.917.974-2.96.186-1.026.246-2.074.274-3.11.013-.477.02-.954.022-1.43.004-.567.004-1.132.004-1.699V14.824c0-.567 0-1.133-.004-1.699a63.067 63.067 0 0 0-.022-1.429c-.028-1.038-.088-2.085-.274-3.112a10.4 10.4 0 0 0-.974-2.96 9.94 9.94 0 0 0-4.35-4.35A10.52 10.52 0 0 0 156.939.3c-1.028-.185-2.076-.246-3.113-.274a71.417 71.417 0 0 0-1.431-.022C151.83 0 151.263 0 150.698 0z"></path><path fill="#FFF" d="M150.698 3.532l1.672.003c.452.003.905.008 1.36.02.793.022 1.719.065 2.583.22.75.135 1.38.34 1.984.648a6.392 6.392 0 0 1 2.804 2.807c.306.6.51 1.226.645 1.983.154.854.197 1.783.218 2.58.013.45.019.9.02 1.36.005.557.005 1.113.005 1.671v76.318c0 .558 0 1.114-.004 1.682-.002.45-.008.9-.02 1.35-.022.796-.065 1.725-.221 2.589a6.855 6.855 0 0 1-.645 1.975 6.397 6.397 0 0 1-2.808 2.807c-.6.306-1.228.511-1.971.645-.881.157-1.847.2-2.574.22-.457.01-.912.017-1.379.019-.555.004-1.113.004-1.669.004H14.801c-.55 0-1.1 0-1.66-.004a74.993 74.993 0 0 1-1.35-.018c-.744-.02-1.71-.064-2.584-.22a6.938 6.938 0 0 1-1.986-.65 6.337 6.337 0 0 1-1.622-1.18 6.355 6.355 0 0 1-1.178-1.623 6.935 6.935 0 0 1-.646-1.985c-.156-.863-.2-1.788-.22-2.578a66.088 66.088 0 0 1-.02-1.355l-.003-1.327V14.474l.002-1.325a66.7 66.7 0 0 1 .02-1.357c.022-.792.065-1.717.222-2.587a6.924 6.924 0 0 1 .646-1.981c.304-.598.7-1.144 1.18-1.623a6.386 6.386 0 0 1 1.624-1.18 6.96 6.96 0 0 1 1.98-.646c.865-.155 1.792-.198 2.586-.22.452-.012.905-.017 1.354-.02l1.677-.003h135.875"></path><g><g><path fill="#000" d="M43.508 35.77c1.404-1.755 2.356-4.112 2.105-6.52-2.054.102-4.56 1.355-6.012 3.112-1.303 1.504-2.456 3.959-2.156 6.266 2.306.2 4.61-1.152 6.063-2.858"></path><path fill="#000" d="M45.587 39.079c-3.35-.2-6.196 1.9-7.795 1.9-1.6 0-4.049-1.8-6.698-1.751-3.447.05-6.645 2-8.395 5.1-3.598 6.2-.95 15.4 2.55 20.45 1.699 2.5 3.747 5.25 6.445 5.151 2.55-.1 3.549-1.65 6.647-1.65 3.097 0 3.997 1.65 6.696 1.6 2.798-.05 4.548-2.5 6.247-5 1.95-2.85 2.747-5.6 2.797-5.75-.05-.05-5.396-2.101-5.446-8.251-.05-5.15 4.198-7.6 4.398-7.751-2.399-3.548-6.147-3.948-7.447-4.048"></path></g><g><path fill="#000" d="M78.973 32.11c7.278 0 12.347 5.017 12.347 12.321 0 7.33-5.173 12.373-12.529 12.373h-8.058V69.62h-5.822V32.11h14.062zm-8.24 19.807h6.68c5.07 0 7.954-2.729 7.954-7.46 0-4.73-2.885-7.434-7.928-7.434h-6.706v14.894z"></path><path fill="#000" d="M92.764 61.847c0-4.809 3.665-7.564 10.423-7.98l7.252-.442v-2.08c0-3.04-2.001-4.704-5.562-4.704-2.938 0-5.07 1.507-5.51 3.82h-5.252c.157-4.86 4.731-8.395 10.918-8.395 6.654 0 10.995 3.483 10.995 8.89v18.663h-5.38v-4.497h-.13c-1.534 2.937-4.914 4.782-8.579 4.782-5.406 0-9.175-3.222-9.175-8.057zm17.675-2.417v-2.106l-6.472.416c-3.64.234-5.536 1.585-5.536 3.95 0 2.288 1.975 3.77 5.068 3.77 3.95 0 6.94-2.522 6.94-6.03z"></path><path fill="#000" d="M120.975 79.652v-4.496c.364.051 1.247.103 1.715.103 2.573 0 4.029-1.09 4.913-3.899l.52-1.663-9.852-27.293h6.082l6.863 22.146h.13l6.862-22.146h5.927l-10.216 28.67c-2.34 6.577-5.017 8.735-10.683 8.735-.442 0-1.872-.052-2.261-.157z"></path></g></g></svg>
</li>
  <li class="payment-icons-item">
    <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-google_pay"><title id="pi-google_pay">Google Pay</title><path d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000" opacity=".07"></path><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32" fill="#FFF"></path><path d="M18.093 11.976v3.2h-1.018v-7.9h2.691a2.447 2.447 0 0 1 1.747.692 2.28 2.28 0 0 1 .11 3.224l-.11.116c-.47.447-1.098.69-1.747.674l-1.673-.006zm0-3.732v2.788h1.698c.377.012.741-.135 1.005-.404a1.391 1.391 0 0 0-1.005-2.354l-1.698-.03zm6.484 1.348c.65-.03 1.286.188 1.778.613.445.43.682 1.03.65 1.649v3.334h-.969v-.766h-.049a1.93 1.93 0 0 1-1.673.931 2.17 2.17 0 0 1-1.496-.533 1.667 1.667 0 0 1-.613-1.324 1.606 1.606 0 0 1 .613-1.336 2.746 2.746 0 0 1 1.698-.515c.517-.02 1.03.093 1.49.331v-.208a1.134 1.134 0 0 0-.417-.901 1.416 1.416 0 0 0-.98-.368 1.545 1.545 0 0 0-1.319.717l-.895-.564a2.488 2.488 0 0 1 2.182-1.06zM23.29 13.52a.79.79 0 0 0 .337.662c.223.176.5.269.785.263.429-.001.84-.17 1.146-.472.305-.286.478-.685.478-1.103a2.047 2.047 0 0 0-1.324-.374 1.716 1.716 0 0 0-1.03.294.883.883 0 0 0-.392.73zm9.286-3.75l-3.39 7.79h-1.048l1.281-2.728-2.224-5.062h1.103l1.612 3.885 1.569-3.885h1.097z" fill="#5F6368"></path><path d="M13.986 11.284c0-.308-.024-.616-.073-.92h-4.29v1.747h2.451a2.096 2.096 0 0 1-.9 1.373v1.134h1.464a4.433 4.433 0 0 0 1.348-3.334z" fill="#4285F4"></path><path d="M9.629 15.721a4.352 4.352 0 0 0 3.01-1.097l-1.466-1.14a2.752 2.752 0 0 1-4.094-1.44H5.577v1.17a4.53 4.53 0 0 0 4.052 2.507z" fill="#34A853"></path><path d="M7.079 12.05a2.709 2.709 0 0 1 0-1.735v-1.17H5.577a4.505 4.505 0 0 0 0 4.075l1.502-1.17z" fill="#FBBC04"></path><path d="M9.629 8.44a2.452 2.452 0 0 1 1.74.68l1.3-1.293a4.37 4.37 0 0 0-3.065-1.183 4.53 4.53 0 0 0-4.027 2.5l1.502 1.171a2.715 2.715 0 0 1 2.55-1.875z" fill="#EA4335"></path></svg>
</li>
  <li class="payment-icons-item">
    <svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-maestro"><title id="pi-maestro">Maestro</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#00A2E5" cx="23" cy="12" r="7"></circle><path fill="#7375CF" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg></li><li class="payment-icons-item"><svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-master"><title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path></svg></li><li class="payment-icons-item"><svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 38 24" width="38" height="24" aria-labelledby="pi-shopify_pay"><title id="pi-shopify_pay">Shop Pay</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z" fill="#000"></path><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32z" fill="#5A31F4"></path><path d="M21.382 9.713c0 1.668-1.177 2.858-2.821 2.858h-1.549a.133.133 0 00-.12.08.127.127 0 00-.01.049v2.192a.129.129 0 01-.13.129h-1.084a.13.13 0 01-.13-.13V6.986a.127.127 0 01.08-.12.129.129 0 01.05-.01h2.9c1.637 0 2.814 1.19 2.814 2.858v-.001zm-1.352 0c0-.958-.658-1.658-1.55-1.658h-1.468a.13.13 0 00-.13.13v3.05a.127.127 0 00.038.092.129.129 0 00.092.038h1.468c.892.005 1.55-.695 1.55-1.652zm1.674 3.791a1.527 1.527 0 01.647-1.317c.423-.316 1.084-.48 2.055-.514l1.033-.036v-.303c0-.607-.41-.863-1.068-.863-.658 0-1.075.231-1.17.61a.127.127 0 01-.125.09h-1.022a.13.13 0 01-.126-.092.125.125 0 01-.004-.055c.152-.898.904-1.58 2.494-1.58 1.692 0 2.303.783 2.303 2.276v3.172a.13.13 0 01-.132.129h-1.03a.13.13 0 01-.13-.13v-.236a.096.096 0 00-.061-.091.1.1 0 00-.107.022c-.31.334-.808.575-1.607.575-1.175 0-1.95-.607-1.95-1.657zm3.735-.687v-.246l-1.339.07c-.705.036-1.115.326-1.115.816 0 .444.376.69 1.034.69.893 0 1.42-.48 1.42-1.33zm2.316 4.6v-.919a.13.13 0 01.049-.1.132.132 0 01.108-.027c.158.029.318.044.479.044a1.229 1.229 0 001.245-.876l.067-.211a.133.133 0 000-.088l-2.145-5.471a.13.13 0 01.06-.165.13.13 0 01.062-.015h1.04a.132.132 0 01.123.085l1.456 3.859a.131.131 0 00.125.088.133.133 0 00.125-.088l1.265-3.848a.13.13 0 01.126-.09h1.076a.134.134 0 01.132.116.134.134 0 01-.008.063l-2.295 6.076c-.528 1.413-1.433 1.773-2.43 1.773a1.959 1.959 0 01-.561-.066.132.132 0 01-.1-.14h.001zM8.57 6.4a5.363 5.363 0 00-3.683 1.427.231.231 0 00-.029.31l.618.839a.236.236 0 00.362.028 3.823 3.823 0 012.738-1.11c2.12 0 3.227 1.584 3.227 3.15 0 1.7-1.163 2.898-2.835 2.921-1.292 0-2.266-.85-2.266-1.974a1.908 1.908 0 01.713-1.48.231.231 0 00.033-.324l-.65-.815a.236.236 0 00-.339-.034 3.43 3.43 0 00-.942 1.183 3.39 3.39 0 00-.337 1.47c0 1.935 1.655 3.452 3.775 3.464h.03c2.517-.032 4.337-1.884 4.337-4.415 0-2.247-1.667-4.64-4.752-4.64z" fill="#fff"></path></svg></li><li class="payment-icons-item"><svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" role="img" width="38" height="24" aria-labelledby="pi-visa"><title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path></svg>
  </li>
  
    <li class="payment-icons-item">
<svg viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg" width="38" height="24" role="img" aria-labelledby="pi-ideal"><title id="pi-ideal">iDEAL</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3Z"></path><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32Z" fill="#fff"></path><path d="M14 6.912V19h5.648C24.776 19 27 16.302 27 12.486 27 8.834 24.776 6 19.648 6h-4.67c-.543 0-.978.414-.978.912Z" fill="#C06"></path><path d="M19.312 21h-8.884C9.64 21 9 20.373 9 19.6V5.4c0-.773.64-1.4 1.428-1.4h8.884C27.742 4 29 9.317 29 12.482 29 17.974 25.555 21 19.313 21h-.001ZM10.428 4.467a.944.944 0 0 0-.878.573.936.936 0 0 0-.074.36v14.2a.936.936 0 0 0 .59.866c.115.046.238.07.362.068h8.884c5.938 0 9.212-2.86 9.212-8.052 0-6.972-5.774-8.015-9.212-8.015h-8.884Z"></path><path d="M16.252 11.008c.188 0 .361.03.528.088.167.06.304.155.427.273.116.125.21.28.282.457.065.184.101.398.101.649 0 .22-.028.42-.08.604a1.417 1.417 0 0 1-.245.479 1.197 1.197 0 0 1-.413.317 1.437 1.437 0 0 1-.586.118H15V11h1.252v.008Zm-.044 2.44c.095 0 .181-.016.276-.045a.539.539 0 0 0 .23-.155.863.863 0 0 0 .168-.28c.043-.118.065-.25.065-.42 0-.147-.015-.287-.044-.405a.814.814 0 0 0-.145-.31.656.656 0 0 0-.26-.199 1.047 1.047 0 0 0-.398-.066h-.464v1.887h.572v-.008Zm3.995-2.44v.553h-1.548v.64h1.426v.51h-1.426v.73h1.585v.552h-2.229V11h2.194v.008h-.002Zm2.215 0 1.1 2.992h-.673l-.224-.663h-1.1l-.232.663h-.652l1.108-2.992h.673Zm.037 1.835-.37-1.098h-.007l-.384 1.098h.76Zm2.112-1.835v2.44H26V14h-2.076v-2.992h.643Z" fill="#fff"></path><path d="M11.5 13.652c.829 0 1.5-.593 1.5-1.326 0-.732-.671-1.326-1.5-1.326s-1.5.594-1.5 1.326c0 .732.671 1.326 1.5 1.326ZM12.63 19c-1.258 0-2.269-.9-2.269-2.007v-1.568a.969.969 0 0 1 .337-.715c.214-.189.502-.294.802-.291a1.24 1.24 0 0 1 .433.073c.137.05.262.124.368.218.106.093.19.205.248.327a.93.93 0 0 1 .09.388V19h-.008Z"></path></svg>
  </li>
  <li class="payment-icons-item">
           <svg width="38" height="24" viewBox="0 0 1280 712" version="1.1" xmlns="http://www.w3.org/2000/svg">
<g id="#ffb3c7ff">
<path fill="#ffb3c7" opacity="1.00" d=" M 110.18 1.18 C 115.11 0.66 120.06 0.48 125.02 0.47 C 463.67 0.47 802.32 0.47 1140.98 0.47 C 1151.97 0.54 1163.03 0.07 1173.95 1.68 C 1207.69 6.14 1238.96 25.66 1258.12 53.74 C 1270.19 71.20 1277.57 91.87 1279.29 113.03 C 1279.95 121.02 1279.69 129.04 1279.74 137.05 C 1279.74 281.35 1279.74 425.65 1279.74 569.95 C 1279.62 582.26 1280.29 594.66 1278.33 606.88 C 1273.78 637.84 1256.70 666.67 1231.86 685.69 C 1210.39 702.43 1183.20 711.43 1156.01 711.25 C 816.68 711.28 477.35 711.26 138.01 711.27 C 127.00 711.23 115.92 711.59 105.00 709.86 C 74.59 705.45 46.21 688.98 27.15 664.90 C 12.56 646.71 3.37 624.25 1.05 601.05 C 0.15 592.73 0.43 584.36 0.38 576.01 C 0.39 425.01 0.36 274.00 0.40 123.00 C 0.35 93.73 11.28 64.62 30.62 42.65 C 50.66 19.46 79.68 4.32 110.18 1.18 M 125.68 240.07 C 125.67 318.53 125.68 397.00 125.68 475.46 C 143.52 475.47 161.35 475.47 179.19 475.46 C 179.20 397.00 179.20 318.53 179.19 240.07 C 161.35 240.06 143.52 240.06 125.68 240.07 M 260.48 240.07 C 260.58 273.25 248.28 306.36 226.01 331.01 C 214.41 344.37 199.47 354.07 185.61 364.85 C 212.40 401.72 239.20 438.59 265.99 475.47 C 288.02 475.46 310.05 475.47 332.08 475.46 C 307.48 441.45 282.62 407.63 258.14 373.54 C 270.40 361.33 280.87 347.33 289.25 332.20 C 304.87 304.18 312.81 272.10 312.86 240.07 C 295.40 240.06 277.94 240.06 260.48 240.07 M 347.70 240.14 C 347.69 318.56 347.69 396.98 347.70 475.40 C 364.54 475.40 381.39 475.40 398.23 475.40 C 398.24 396.98 398.23 318.56 398.23 240.14 C 381.39 240.13 364.54 240.13 347.70 240.14 M 463.79 317.87 C 446.75 326.82 432.93 341.70 425.26 359.36 C 416.71 378.76 415.74 401.33 422.47 421.43 C 428.21 438.71 439.62 454.08 454.56 464.50 C 469.43 475.04 487.82 480.54 506.04 479.80 C 522.05 479.32 537.79 474.02 551.00 465.00 C 550.99 468.46 551.00 471.93 551.00 475.40 C 567.10 475.40 583.19 475.41 599.29 475.40 C 599.29 421.15 599.29 366.91 599.29 312.67 C 583.19 312.66 567.10 312.67 551.00 312.67 C 551.00 316.13 550.99 319.59 551.00 323.06 C 525.81 305.43 490.87 303.25 463.79 317.87 M 825.82 309.79 C 812.39 312.33 799.94 319.85 791.89 330.95 C 791.90 324.86 791.89 318.76 791.89 312.67 C 775.87 312.66 759.84 312.66 743.82 312.67 C 743.81 366.91 743.81 421.15 743.82 475.40 C 760.04 475.40 776.26 475.40 792.48 475.40 C 792.51 446.61 792.45 417.82 792.51 389.03 C 792.49 378.00 796.78 366.42 806.00 359.86 C 815.39 353.05 827.90 351.66 839.02 354.20 C 847.64 356.10 855.18 362.22 858.59 370.41 C 862.92 380.00 862.09 390.76 862.16 401.01 C 862.16 425.80 862.15 450.60 862.16 475.40 C 878.23 475.40 894.31 475.40 910.38 475.40 C 910.39 444.59 910.38 413.78 910.39 382.97 C 910.34 374.65 910.79 366.22 908.96 358.04 C 905.92 343.02 896.82 329.38 884.14 320.78 C 867.33 309.17 845.66 306.06 825.82 309.79 M 997.15 309.56 C 979.78 312.73 963.53 321.58 951.36 334.36 C 937.95 348.25 929.51 366.81 927.82 386.04 C 925.95 405.79 931.10 426.14 942.32 442.52 C 956.51 463.64 980.56 477.85 1006.00 479.62 C 1025.11 481.15 1044.61 475.85 1060.42 465.00 C 1060.40 468.46 1060.41 471.93 1060.43 475.40 C 1076.51 475.40 1092.60 475.39 1108.69 475.41 C 1108.72 421.16 1108.69 366.92 1108.71 312.67 C 1092.61 312.66 1076.52 312.67 1060.43 312.66 C 1060.41 316.12 1060.40 319.58 1060.42 323.05 C 1042.17 310.48 1018.94 305.46 997.15 309.56 M 624.55 312.67 C 624.55 366.91 624.55 421.15 624.55 475.40 C 641.07 475.40 657.58 475.40 674.10 475.40 C 674.10 451.27 674.11 427.15 674.09 403.03 C 673.40 393.33 676.56 383.40 683.28 376.30 C 692.97 365.89 707.21 360.21 721.32 359.94 C 721.31 344.17 721.33 328.40 721.31 312.63 C 703.59 312.73 685.18 319.63 673.98 333.80 C 674.00 326.76 673.98 319.71 673.99 312.67 C 657.51 312.67 641.03 312.66 624.55 312.67 M 1152.37 418.65 C 1145.80 420.35 1139.87 424.37 1135.81 429.81 C 1127.13 440.96 1127.79 458.09 1137.32 468.54 C 1146.30 479.14 1162.90 481.99 1174.85 474.86 C 1187.86 467.79 1193.81 450.62 1188.12 436.97 C 1182.99 423.04 1166.71 414.57 1152.37 418.65 Z"></path>
<path fill="#ffb3c7" opacity="1.00" d=" M 499.53 352.80 C 511.28 350.82 523.81 353.59 533.45 360.64 C 543.20 367.61 549.84 378.90 550.68 390.91 C 551.60 401.89 547.67 413.10 540.28 421.25 C 531.28 431.39 517.41 436.76 503.94 435.75 C 490.35 434.92 477.25 427.52 469.89 416.02 C 462.64 405.05 461.33 390.48 466.51 378.40 C 472.09 364.89 485.17 355.07 499.53 352.80 Z"></path>
<path fill="#ffb3c7" opacity="1.00" d=" M 1008.53 352.87 C 1020.51 350.74 1033.34 353.56 1043.13 360.84 C 1052.76 367.83 1059.30 379.07 1060.10 391.01 C 1061.03 402.29 1056.80 413.78 1049.03 421.97 C 1039.95 431.76 1026.24 436.82 1012.97 435.72 C 999.45 434.78 986.46 427.32 979.18 415.84 C 972.67 405.81 971.01 392.85 974.76 381.51 C 979.52 366.63 993.23 355.42 1008.53 352.87 Z"></path>
</g>
<g id="#0a0b09ff">
<path fill="#0a0b09" opacity="1.00" d=" M 125.68 240.07 C 143.52 240.06 161.35 240.06 179.19 240.07 C 179.20 318.53 179.20 397.00 179.19 475.46 C 161.35 475.47 143.52 475.47 125.68 475.46 C 125.68 397.00 125.67 318.53 125.68 240.07 Z"></path>
<path fill="#0a0b09" opacity="1.00" d=" M 260.48 240.07 C 277.94 240.06 295.40 240.06 312.86 240.07 C 312.81 272.10 304.87 304.18 289.25 332.20 C 280.87 347.33 270.40 361.33 258.14 373.54 C 282.62 407.63 307.48 441.45 332.08 475.46 C 310.05 475.47 288.02 475.46 265.99 475.47 C 239.20 438.59 212.40 401.72 185.61 364.85 C 199.47 354.07 214.41 344.37 226.01 331.01 C 248.28 306.36 260.58 273.25 260.48 240.07 Z"></path>
<path fill="#0a0b09" opacity="1.00" d=" M 347.70 240.14 C 364.54 240.13 381.39 240.13 398.23 240.14 C 398.23 318.56 398.24 396.98 398.23 475.40 C 381.39 475.40 364.54 475.40 347.70 475.40 C 347.69 396.98 347.69 318.56 347.70 240.14 Z"></path>
<path fill="#0a0b09" opacity="1.00" d=" M 463.79 317.87 C 490.87 303.25 525.81 305.43 551.00 323.06 C 550.99 319.59 551.00 316.13 551.00 312.67 C 567.10 312.67 583.19 312.66 599.29 312.67 C 599.29 366.91 599.29 421.15 599.29 475.40 C 583.19 475.41 567.10 475.40 551.00 475.40 C 551.00 471.93 550.99 468.46 551.00 465.00 C 537.79 474.02 522.05 479.32 506.04 479.80 C 487.82 480.54 469.43 475.04 454.56 464.50 C 439.62 454.08 428.21 438.71 422.47 421.43 C 415.74 401.33 416.71 378.76 425.26 359.36 C 432.93 341.70 446.75 326.82 463.79 317.87 M 499.53 352.80 C 485.17 355.07 472.09 364.89 466.51 378.40 C 461.33 390.48 462.64 405.05 469.89 416.02 C 477.25 427.52 490.35 434.92 503.94 435.75 C 517.41 436.76 531.28 431.39 540.28 421.25 C 547.67 413.10 551.60 401.89 550.68 390.91 C 549.84 378.90 543.20 367.61 533.45 360.64 C 523.81 353.59 511.28 350.82 499.53 352.80 Z"></path>
<path fill="#0a0b09" opacity="1.00" d=" M 825.82 309.79 C 845.66 306.06 867.33 309.17 884.14 320.78 C 896.82 329.38 905.92 343.02 908.96 358.04 C 910.79 366.22 910.34 374.65 910.39 382.97 C 910.38 413.78 910.39 444.59 910.38 475.40 C 894.31 475.40 878.23 475.40 862.16 475.40 C 862.15 450.60 862.16 425.80 862.16 401.01 C 862.09 390.76 862.92 380.00 858.59 370.41 C 855.18 362.22 847.64 356.10 839.02 354.20 C 827.90 351.66 815.39 353.05 806.00 359.86 C 796.78 366.42 792.49 378.00 792.51 389.03 C 792.45 417.82 792.51 446.61 792.48 475.40 C 776.26 475.40 760.04 475.40 743.82 475.40 C 743.81 421.15 743.81 366.91 743.82 312.67 C 759.84 312.66 775.87 312.66 791.89 312.67 C 791.89 318.76 791.90 324.86 791.89 330.95 C 799.94 319.85 812.39 312.33 825.82 309.79 Z"></path>
<path fill="#0a0b09" opacity="1.00" d=" M 997.15 309.56 C 1018.94 305.46 1042.17 310.48 1060.42 323.05 C 1060.40 319.58 1060.41 316.12 1060.43 312.66 C 1076.52 312.67 1092.61 312.66 1108.71 312.67 C 1108.69 366.92 1108.72 421.16 1108.69 475.41 C 1092.60 475.39 1076.51 475.40 1060.43 475.40 C 1060.41 471.93 1060.40 468.46 1060.42 465.00 C 1044.61 475.85 1025.11 481.15 1006.00 479.62 C 980.56 477.85 956.51 463.64 942.32 442.52 C 931.10 426.14 925.95 405.79 927.82 386.04 C 929.51 366.81 937.95 348.25 951.36 334.36 C 963.53 321.58 979.78 312.73 997.15 309.56 M 1008.53 352.87 C 993.23 355.42 979.52 366.63 974.76 381.51 C 971.01 392.85 972.67 405.81 979.18 415.84 C 986.46 427.32 999.45 434.78 1012.97 435.72 C 1026.24 436.82 1039.95 431.76 1049.03 421.97 C 1056.80 413.78 1061.03 402.29 1060.10 391.01 C 1059.30 379.07 1052.76 367.83 1043.13 360.84 C 1033.34 353.56 1020.51 350.74 1008.53 352.87 Z"></path>
<path fill="#0a0b09" opacity="1.00" d=" M 624.55 312.67 C 641.03 312.66 657.51 312.67 673.99 312.67 C 673.98 319.71 674.00 326.76 673.98 333.80 C 685.18 319.63 703.59 312.73 721.31 312.63 C 721.33 328.40 721.31 344.17 721.32 359.94 C 707.21 360.21 692.97 365.89 683.28 376.30 C 676.56 383.40 673.40 393.33 674.09 403.03 C 674.11 427.15 674.10 451.27 674.10 475.40 C 657.58 475.40 641.07 475.40 624.55 475.40 C 624.55 421.15 624.55 366.91 624.55 312.67 Z"></path>
<path fill="#0a0b09" opacity="1.00" d=" M 1152.37 418.65 C 1166.71 414.57 1182.99 423.04 1188.12 436.97 C 1193.81 450.62 1187.86 467.79 1174.85 474.86 C 1162.90 481.99 1146.30 479.14 1137.32 468.54 C 1127.79 458.09 1127.13 440.96 1135.81 429.81 C 1139.87 424.37 1145.80 420.35 1152.37 418.65 Z"></path>
</g>
           </svg>
       </li>      
          </ul>

          
           


<script>
              $(document).ready(function(){
//                 var date = $('.next-2days-fortimer').html();
                var countDownDate = new Date(date).getTime();
                var dddd = new Date();



                var date = dddd.getDate();
                var next_ddd = date + 1;

                var month = dddd.getMonth() + 1; // Since getMonth() returns month from 0-11 not 1-12

                var year = dddd.getFullYear();
                if(month == 1){
                  var mmm='Jan';
                  if(next_ddd == 32){
                  	var mmm='Feb';
                    var next_ddd = 1;
                  }
                  
                }else if(month == 2){
                  var mmm='Feb';
                  if(next_ddd == 29 || next_ddd==30){
                  	var mmm='Mar';
                    var next_ddd = 1;
                  }
                  
                }else if(month == 3){
                  var mmm='Mar';
                  if(next_ddd == 32){
                  	var mmm='Apr';
                    var next_ddd = 1;
                  }
                  
                }else if(month == 4){
                  var mmm='Apr';
                  if(next_ddd == 31){
                  	var mmm='May';
                    var next_ddd = 1;
                  }
                }else if(month == 5){
                  var mmm='May';
                  if(next_ddd == 32){
                  	var mmm='Jun';
                    var next_ddd = 1;
                  }
                }else if(month == 6){
                  var mmm='Jun';
                  if(next_ddd == 31){
                  	var mmm='Jul';
                    var next_ddd = 1;
                  }
                }else if(month == 7){
                  var mmm='Jul';
                  if(next_ddd == 32){
                  	var mmm='Feb';
                    var next_ddd = 1;
                  }
                  
                }else if(month == 8){
                  var mmm='Aug';
                  if(next_ddd == 32){
                  	var mmm='Sep';
                    var next_ddd = 1;
                  }
                  
                }else if(month == 9){
                  var mmm='Sep';
                  if(next_ddd == 31){
                  	var mmm='Oct';
                    var next_ddd = 1;
                  }
                }else if(month == 10){
                  var mmm='Oct';
                  if(next_ddd == 32){
                  	var mmm='Nov';
                    var next_ddd = 1;
                  }
                }else if(month == 11){
                  var mmm='Nov';
                  if(next_ddd == 31){
                  	var mmm='Dec';
                    var next_ddd = 1;
                  }
                }else if(month == 12){
                  var mmm='Dec';
                  if(next_ddd == 32){
                  	var mmm='Jan';
                    var next_ddd = 1;
                  }
                }else{
                  var mmm = month;
                }
                
                var countDownDate = new Date(''+mmm+' '+next_ddd+', '+year+' 13:00:00').getTime();
                console.log((''+mmm+' '+next_ddd+', '+year+' 13:00:00'));
                
                var myfunc = setInterval(function() {

                  var now = new Date().getTime();
                  var timeleft = countDownDate - now;
				
                  
                  var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
                  var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                  var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
                  var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
                 
                  if (hours > 9){
                  	document.getElementById("hours").innerHTML = hours + " : " 
                  }else{
                  	document.getElementById("hours").innerHTML = "0"+hours + ": " 
                  }
                  if (minutes > 9){
                  	document.getElementById("mins").innerHTML = minutes + " : " 
                  }else{
                  	document.getElementById("mins").innerHTML = "0"+minutes + ": " 
                  }
                  if (seconds > 9){
                 	 document.getElementById("secs").innerHTML = seconds + " " 
                  }else{
                  	document.getElementById("secs").innerHTML = "0"+seconds + " " 
                  }

                  if (timeleft < 0) {
                    clearInterval(myfunc);
                 
                    // document.getElementById("hours").innerHTML = "" 
                    // document.getElementById("mins").innerHTML = ""
                    // document.getElementById("secs").innerHTML = ""
                    // document.getElementById("end").innerHTML = "TIME UP!!";
                  }
                }, 1000);
              });
            </script>
