{%- style -%}
.goldy {
  color: #debe61 !important;
  margin-top: -20px !important;
  display: block;
}

.desk_wrapper {
  padding: 100px 0 50px 0;
  background: #000;
  width: 100%;
  color: #fff;
}
.desk_wrapper .one .text_box,
.desk_wrapper .three .text_box {
  margin-left: -200px !important;
}
.desk_wrapper .two .text_box,
.desk_wrapper .four .text_box {
  margin-right: -200px !important;
}
.desk_wrapper section {
  max-width: 1100px;
  margin: auto;
  display: flex;
  height: 100%;
  align-items: center;
  margin-bottom: 50px;
}
.desk_wrapper section .img_wrapper {
  flex-basis: 70%;
}
.desk_wrapper section .img_wrapper img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.desk_wrapper section .txt_wrapper {
  flex-basis: 30%;
  z-index: 1;
}
.desk_wrapper section .txt_wrapper .text_box {
  padding: 40px 50px;
  background: #000;
  line-height: 1.5;
  text-align: left !important;
}
.desk_wrapper section .txt_wrapper .text_box h2 {
  font-size: 48px;
  font-weight: 900;
  color: #fff;
  margin: 30px 0 20px 0;
}
.desk_wrapper section .txt_wrapper .text_box p {
  font-size: 24px;
}
.features--heading-uppercase .Rte h1,
.features--heading-uppercase .Rte h2,
.features--heading-uppercase .Rte h3,
.features--heading-uppercase .Rte h4,
.features--heading-uppercase .Rte h5,
.features--heading-uppercase .Rte h6 {
  letter-spacing: 0 !important;
  text-transform: uppercase;
}

.list-with-icons {
  display: none;
}

b > .Container {
  padding: 0px !important;
}

.list-with-icons .unordered-list {
  display: flex;
  margin-bottom: 32px;
}

.list-with-icons .description {
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.list-with-icons h1,
.list-with-icons h5 {
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: black;
}

.list-with-icons h1 b {
  font-weight: 800;
  color: #0066A6;
}

.list-with-icons p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
  color: black;
}

#section-template--16149268431083__165646470237b297af > div {
  padding: 0px;
}

.Rte h1 {
  margin: -20px 0 0 0 !important;
}
#section-template--16790165356779__1657617018fb9cde03 .Container{
  padding: 0 !important;
}

@media (max-width: 768px) {
.desk_wrapper .one .text_box, .desk_wrapper .three .text_box, .desk_wrapper .two .text_box, .desk_wrapper .four .text_box, .goldy
  {
    margin: 0 !important;
  }
  .goldy
  {
  display: inline-block !important;
  }
  .desk_wrapper section .txt_wrapper .text_box h2 br, .mobile_hide {
    display: none;
}
  .desk_wrapper section
  {
    max-width: 100%;
    flex-wrap: wrap;
  }
  section.two, section.four {
    flex-direction: column-reverse;
}
  .desk_wrapper section .txt_wrapper .text_box
  {
    padding-bottom: 0;
    text-align: center !important;
    padding-left: 10px;
    padding-right: 10px;
  }
  .desk_wrapper section .txt_wrapper .text_box h2
  {
    font-size: 18px;
    background: #000;
    padding-top: 10px;
    margin: -87px auto 0;
    padding-bottom: 10px;
  }
  .desk_wrapper section.three .txt_wrapper .text_box h2 {
    max-width: 250px;
  }
  .desk_wrapper section.one .txt_wrapper .text_box h2 {
    max-width: 260px;
}
.desk_wrapper section.two .txt_wrapper .text_box h2 {
    max-width: 150px;
}
  .desk_wrapper section .txt_wrapper .text_box p {
    font-size: 18px;
    margin-top: 30px;
}
  .desk_wrapper section .img_wrapper, .desk_wrapper section .txt_wrapper {
    flex-basis: 100%;
    width: 100%;
    flex: 100%;
  }
  .list-with-icons {
    display: block;
  }
  .list-with-icons h1, .list-with-icons h5
  {
    font-size: 24px;
  }
  .desk_wrapper section .img_wrapper img
  {
    height:auto;
  }
  .desk_wrapper{
    padding-top: 0;
  }
}

.product_pay-later__img img { 
    width: 100%;
}
 @media (min-width: 769px) { 
.product_pay-later {
    padding: 7%;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
}
   .product_pay-later h3 {
    grid-area: title;
}
   .product_pay-later h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 46px;
     font-weight: 700;
}
   .product_pay-later__img {
    grid-area: img;
}
   .product_pay-later p {
    grid-area: description1;
}
   .product_pay-later p, .product_pay-later li {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
}
   .product_pay-later ul {
    grid-area: description2;
}
   
   .product_pay-later p, .product_pay-later li {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
}
   .product_pay-later {
    width: 100%;
    display: grid;
    grid-template-areas:
        "img title"
        "img description1"
        "img description2";
    grid-template-rows: auto auto auto;
    grid-template-columns: 50% 50%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.desktop_hide { display: none;}   
   }
    @media (max-width: 768px) {  
           .product_pay-later {
    padding: 5%;
}
     
   .product_pay-later h3 {
    margin: 0;
    font-size: 40px;
    line-height: 46px;
}
   .product_pay-later__img {
    margin: 10px 0;
}
   .product_pay-later p, .product_pay-later li {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
}
      .product_pay-later p {
    margin-bottom: 19px; 
} 
      .hide_all_images_mobile img{
        display:none;
      }
.text_box h2 {
    max-width: 100%;
    margin: 0;
    font-size: 36px!important;
    line-height: 46px;
    font-weight: 900!important;
    text-transform: uppercase;
}
      .desk_wrapper section .txt_wrapper .text_box h2 { 
    margin: 0; 
           max-width: 100%!important
}
      .desk_wrapper section .txt_wrapper .text_box {
    padding: 5%;
/*     text-align: left!important; */
            max-width: 100%!important;
}
      .desk_wrapper section .txt_wrapper .text_box p { 
    margin-top: 10px;
} 
      .desk_wrapper section { 
    margin-bottom: 0!important;
}
   }
{%- endstyle -%}
    <!-- desktop version start -->
    <div class="hide_all_images_mobile desk_wrapper">
      <section class="one">
        <div class="left img_wrapper">
          <!-- set url of image on "src="" -->
          <img class="mobile_hide" src="https://cdn.shopify.com/s/files/1/0640/7792/2539/t/61/assets/sdgsdfgdsfdsf.png?v=1683539259" alt="">
          <img class="desktop_hide" src="https://cdn.shopify.com/s/files/1/0640/7792/2539/t/61/assets/dfsdfsdsfdsfdfsdfs.png?v=1683539058" alt="">
        </div>
        <div class="right txt_wrapper">
          <div class="text_box">
            <h2>
              TRUSTED<br>
              <span class="goldy">FOR A REASON</span>
            </h2>
            <p class="">
              Discover exclusive designs trusted by DDG, Lil Tecca , Fred Warner and more.
            </p>
          </div>
        </div>
      </section>
      <section class="two">
        <div class="left txt_wrapper">
          <div class="text_box">
            <h2>
              REAL<br>
              <span class="goldy">GOLD</span>
            </h2>
            <p class="">
             Our proprietary plating technique powerfully binds real gold to our base metals. ZOTIC gold bonded, vermeil and solid gold pieces all look and feel the same.
            </p>
          </div>
    
        </div>
        <div class="right img_wrapper">
          <!-- set url of image on "src="" -->
          <img src="https://image.cnbcfm.com/api/v1/image/103991211-RTXAJPM.jpg?v=1565196587&amp;w=929&amp;h=523&amp;vtcrop=y" alt="">
        </div>
      </section>
      <section class="three">
        <div class="left img_wrapper">
          <!-- set url of image on "src="" -->
          <img src="https://cdn.shopify.com/s/files/1/0640/7792/2539/t/61/assets/RICCO_molten_gold_crafted_into_a_cuban_chain_by_jewelr_Black_ba_2cbb4bf3-f629-46a8-90e8-f329ab951b6b.png?v=1683606144" alt="">
        </div>
        <div class="right txt_wrapper">
          <div class="text_box">
            <h2>
              LIFETIME<br>
              <span class="goldy">WARRANTY</span>
            </h2>
            <p class="">
              Our quality is unmatched and that’s why we offer you a lifetime warranty.
            </p>
          </div>
        </div>
      </section>
      <section class="four">
        <div class="left txt_wrapper">
          <div class="text_box">
            <h2>
              DESIGNED IN  <br>
              <span class="goldy">MANHATTAN, NY</span>
            </h2>
            <p class="">
             Zotic designs, packages and quality checks all of our pieces in new york.
            </p>
          </div>
    
        </div>
        <div class="right img_wrapper">
          <!-- set url of image on "src="" -->
          <img class="mobile_hide" src="https://cdn.shopify.com/s/files/1/0640/7792/2539/t/61/assets/RICCO_a_jewelr_crafting_a_solid_gold_cuban_prong_chain_and_fili_67b621a2-f17f-4704-a463-fe76b9320cc6.png?v=1683543595" alt="">
           <img class="desktop_hide" src="https://cdn.shopify.com/s/files/1/0640/7792/2539/t/61/assets/RICCO_a_jewelr_crafting_a_solid_gold_cuban_prong_chain_and_fili_67b621a2-f17f-4704-a463-fe76b9320cc6.png?v=1683543595" alt="">
        </div>
      </section>
    </div>
    <div class="product_pay-later  ">
    <h3>WEAR NOW<br>PAY LATER</h3>

    <div class="product_pay-later__img">

<img class="" src="https://cdn.shopify.com/s/files/1/0640/7792/2539/files/dfsffsddfsdfsfsdf_750x500_crop_center.png?v=1684950949" alt="">
        </div>
    <p>Cop it now and pay later when you select Shop Pay at checkout.</p>
    
      <ul>
        <li><strong>No interest</strong> or fees</li>
        <li>Your order is <strong>shipped now</strong></li>
        <li><strong>Easy </strong>automatic payments</li>
        
      </ul>
    
  </div>
    <!-- desktop version end -->
    
    
    <!-- mobile version start -->
    {% comment %}
    <section class="list-with-icons">
      <div class="row">
        <div class="desktop-8 tablet-6 mobile-3 centered">
          <div class="unordered-list">
            <div class="description">
              <center><img src="https://cdn.shopify.com/s/files/1/0640/7792/2539/t/47/assets/sdgsdfgdsfdsf.png?v=1680917095" width="25%"></center>
              <h1>
                <b>TRUSTED</b> FOR A REASON
              </h1>
              <h5> Over 74,221+ Satisfied Customers. </h5>
              <p>WORN BY LIL TECCA, TYGA, CHRIS OLAVE, FRED WARNER, AND MANY MORE.</p>
              <p p=""></p>
            </div>
          </div>
          <div class="unordered-list">
            <div class="description">
              <center><img src="https://cdn.shopify.com/s/files/1/0640/7792/2539/t/46/assets/gold.png?v=1680042655" width="25%"></center>
              <h1>REAL <b>GOLD</b>
              </h1>
              <h5 style="padding: 10px; max-width:50ch">Our proprietary plating technique powerfully binds real
                gold to our base metals. ZOTIC gold BONDED, vermeil and solid gold pieces all look and feel the
                same.</h5>
            </div>
          </div>
          <div class="unordered-list">
            <div class="description">
              <center><img src="https://cdn.shopify.com/s/files/1/0640/7792/2539/t/46/assets/design.png?v=1680042769" width="20%"></center>
              <h1>DESIGNED IN <b> Manhattan, NY</b>
              </h1>
              <h5 style="padding: 10px; max-width:50ch">Zotic designs, packages and quality checks all of our
                pieces in New York.</h5>
            </div>
          </div>
          <div class="unordered-list">
            <div class="description">
              <center><img src="https://cdn.shopify.com/s/files/1/0640/7792/2539/t/46/assets/product.png?v=1680042813" width="25%"></center>
              <h1>LIFETIME <b>GUARANTEE</b>
              </h1>
              <h5 style="padding: 10px; max-width:50ch">Our quality is unmatched and that’s why we offer you a
                lifetime warranty.</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
     {% endcomment %}
    <!-- mobile version end -->
{% schema %}
  {
    "name": "Custom Image With Text",
    "settings": [],
     "presets": [
    {
      "category": "Image",
      "name": "Custom Image with Text",
      "settings": {}
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}